@charset "UTF-8";
@import url(http://fonts.googleapis.com/css?family=Oswald:400,300);
@import url(http://fonts.googleapis.com/css?family=Great+Vibes);
@import url(http://fonts.googleapis.com/css?family=Permanent+Marker);
@import url(http://fonts.googleapis.com/css?family=Marvel:400,400italic);
@import url(http://fonts.googleapis.com/css?family=Poiret+One);
@font-face{
font-family: tanuki;
src:url(../fonts/TanukiMagic.ttf) format('truetype');	
}
@font-face{
font-family: mplus-thin;
src:url(../fonts/mplus-1p-thin.ttf) format('truetype');	
}
@font-face{
font-family: mplus-light;
src:url(../fonts/mplus-1p-light.ttf) format('truetype');	
}
@font-face{
font-family: mplus-regular;
src:url(../fonts/mplus-1p-regular.ttf) format('truetype');	
}
@font-face{
font-family: mplus-bold;
src:url(../fonts/mplus-1p-bold.ttf) format('truetype');	
}
@font-face{
font-family: hannari;
src:url(../fonts/Hannari.otf) format('opentype');	
}
