@charset "UTF-8";
body,html {
	height: 100%;

}
/*modal*/
body.modal-open .top_bottom{
padding-right:15px!important;
}


/*animation_class*/

/*.width0 {
	width: 0%;
}

.width100{
	width: 100%;
}
*/

/*common clases*/
.rem1.5{
	font-style: 1.5rem;
}
.rem2 {
	font-size: 2rem;
}

.rem3 {
	font-size:3rem;
}

.rem4 {
	font-size:4rem;
}

.wrap {
	height: 100%;

}

.mainheader {
	margin-bottom: 0;
	/*background-image: url(../img/paper1.png);*/
}

.globalnav{
	height: 3%;
	background-color: #54555B;
}

.globalnav h1 {
	font-size:1rem;
	margin:0;
	color:#F2F2F2;
}

.navbar-collapse {
/*	background-image: url(../img/paper1.png);*/
}

.topmain {
	height: 86%;
	padding: 0;
}

/*topslide*/
.top_slide{
	height: 86%;
	min-height:500px;
	position: relative;
	z-index: 10;
}

.top_slide_img {
	width: 100%;
	height:100%;
	position:absolute;
	background-repeat:no-repeat;
	background-position: top center;
	background-size:cover;
}
#top1 {
	background-image: url(../img/bg1.jpg);
}

#top2 {
	background-image: url(../img/bg2.jpg);
}

#top3 {
	background-image: url(../img/bg3.jpg);
}

#top4 {
	background-image: url(../img/bg4.jpg);
}





/*topbottom*/
.top_bottom {
	width:100%;
	position: absolute;
	bottom:0;
	z-index: 11;

}

.tb {
	display: block;
	height: 60px;
	line-height: 60px;
	text-align: center;
	background-color: #fff;
	color:#303F9F;


}

.tb:first-child {
	background-color:#303F9F;
	color:#fff;

}

.tb:hover {
	text-decoration: none;
	background-color: #C45E00;
	color:#fff;
}




