@charset "UTF-8";
body,html {	height: 100%;min-height:600px;background-color: #fff;}
a:focus, *:focus { outline:none; }

/*--common clases--*/
.flexwrap {	height: 100%;}
.absolutewrap {	height:auto;}
.rem0.5{font-style: 0.5rem;}
.rem1.5{font-style: 1.5rem;}
.rem2 {font-size: 2rem;}
.rem3 {font-size:3rem;}
.rem4 {font-size:4rem;}
.rem5 {font-size:5rem;}
.font-bold {font-weight: bold;}
.margin-right-2{margin-right: 2%;}
.margin-top-0 {margin-top:0;}

/*header*/

.mainheader {
	margin-bottom: 0;
}

.mainheader a {
	color:#444242;
}

.mainheader h1 {
	margin:0;
}

.active a {
	color: #F46767;
}

/*mainnavi*/
.socialicon {
	padding-right:0 !important;
}

.socialicon:hover {
	background-color: #fff !important;
	opacity:0.5;
}
.socialicon i{
	margin-top:-6px;
}

#mainnav li:nth-last-child(2) a{
	color: #4C66A4;
}

#mainnav li:last-child a{
	color: #489AEC;
}

.active {
	color: #F46767 !important;
}





/*globalnavi*/
.globalnav ul {
	list-style: none;
	padding: 0;
	margin:0;
	float:right;
}

.globalnav li{
	float:left;
}

.globalnav li:not(:last-child):after{
content:'\a|';
	color:#828080;
	font-size:1rem;
} 

.globalnav a {
	color:#828080;
	font-size:1rem;
}
.globalnav h1 {
	float:left;
	margin:0;
}


.logo-wrap {
	padding-top:5px;
	margin-top:-8px;
}

.logo {
	width: 100px;
	height: auto;
}
.logoword {
	width:143px ;
	height: auto;
	margin-left:5px;
}


/*topmain height*/
.topmain {
	height: 86%;
	padding: 0;
}



/*topslide*/
.top_slide{
	height: 86%;
	min-height:500px;
	position: relative;
	z-index: 10;
}

.top_slide_img {
	width: 100%;
	height:100%;
	position:absolute;
	background-repeat:no-repeat;
	background-position: top center;
	background-size:cover;
}
#top1 {
	background-image: url(../img/bg1.jpg);
}

#top2 {
	background-image: url(../img/bg2.jpg);
}

#top3 {
	background-image: url(../img/bg3.jpg);
}

#top4 {
	background-image: url(../img/bg4.jpg);
}





/*topbottom*/
.top_bottom {
	width:100%;
	position: absolute;
	bottom:0;
	z-index: 11;

}

.tb {
	display: block;
	height: 60px;
	line-height: 60px;
	text-align: center;
	background-color: #fff;
	color:#303F9F;


}

.tb:first-child {
	background-color:#303F9F;
	color:#fff;

}

.tb:hover {
	text-decoration: none;
	background-color: #C45E00;
	color:#fff;
}

/*modal*/
body.modal-open .top_bottom{
padding-right:15px;
}

.modal-header {
	border-bottom:2px solid #ccc;
}

.modal-body article {
	border-bottom:1px dashed #ccc;
	padding:3%;
}

.modal-body article h2 {
	margin-top:0;
}
/*modal call*/

.call {
	background-image: url(../img/callledy.png);
	background-repeat: no-repeat;
	background-position: bottom left;
	background-size:28%;

}

/*------page-product style-----*/
.product_main {
	min-height:800px;
}


/*------END-page-product style-----*/









